nav {
  background-color: #ffa52f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

nav:hover{
color: rgb(212, 238, 238);
}