nav {
  background-color: #8b3d0f;
  color: #e6b3b3;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 100;
  border-bottom: 6px dotted #f5a418;
  margin-top: -60px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 20px;
}

a {
  color: #f7eeee;
  text-decoration: none;
  font-size: 21px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: color 0.2s ease-in-out;
  font-style: oblique;
}

a:hover {
  color: #f5a418;
}

nav > ul > li > a {
  position: relative;
}

nav > ul > li > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav > ul > li > a:hover:before {
  transform: scaleX(1);
}

nav > ul > li > a:after {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

nav > ul > li > a:hover:after {
  width: 100%;
}
