body{
    text-align: center; 
    display: absolute;  
    background-size: cover;
    background-repeat: no-repeat;
  }  
  
  .login-box{
    background-image: gradial-gradient; 
    position: flex;
    margin-top: 10px;
    text-align: center;
    z-index: 1;
  }
  .login-box > *{
    display: inline-block;
    width: 200px;
  }
  
  .login-icon{
    width: 115px;
    height: 112px; 
    position: relative;
    border-radius: 50%;
    margin-top: -5px;
    margin-bottom: 5px;
    background-size: contain;
    background-image: url(https://img.lalr.co/cms/2015/04/07171155/Caba%C3%B1as.jpg?size=sm&ratio=sq&f=jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .login-name{
    display: flex;
    margin-left: 125px;
    background-image: gradial-gradient; 
    margin-top: 10px;
    margin-bottom: 25px;
    color: #F7F5CD;
    font-size: medium;
  } 
  .form {
    background-image: linear-gradient(0.40turn, #525C39, #313720, #313720, #525C39);
    max-width: 400px;
    padding: 20px 35px 45px;
    margin: 0 auto;
    margin-top: 0px;
    border: 1px solid rgba(0,0,0,0.1);  
    box-shadow: 0px 0px 160px #040600;
    border-radius: 12%;
  } 
  .form-text{
       margin-bottom: 20px;
  } 
  .form-control {
       position: relative;
       font-size: 17px;
       height: auto;
       padding: 8px;
  }  
  
  h3{
    background-image: gradial-gradient(0.40turn, #90A0DA, #47537E, #AFB8DA); 
    color: #F7F5CD;
    font-size: medium;
    text-align: center; 
    margin-bottom: 10px;
    margin-top: 20px;
  }
  input{
    background-color: #989986;
    color: #271402;
  }
  .btn{
    width: 90px;
    height: 55px;
    text-align: center;
    font-size: 14px;
    color: #613105;
    font-weight: bolder;
    background-color: #EEF1BE;
    margin-top: 20px;
    border: none;
    border-radius: 40%;
    box-shadow: 0px 0px 10px #081201;
  } 
  